absl-py==0.12.0
amqp==5.0.6
argon2-cffi==20.1.0
asgiref==3.3.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
beautifulsoup4==4.6.0
billiard==3.6.4.0
bleach==3.3.0
cachetools==4.2.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
Django==3.1.6
django-allauth==0.44.0
django-background-tasks==1.2.5
django-braces==1.14.0
django-celery-beat==2.2.0
django-celery-results==2.0.1
django-compat==1.0.15
django-cors-headers==3.7.0
django-crispy-forms==1.11.0
django-crontab==0.7.1
django-grappelli==2.14.3
django-health-check==3.16.3
django-import-export==2.5.0
django-js-asset==1.2.2
django-markdownx==3.0.1
django-mptt==0.11.0
django-ranged-response==0.2.0
django-rest-swagger==2.2.0
django-shortuuidfield==0.1.3
django-simple-captcha==0.5.14
django-timezone-field==4.1.2
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.6.0
docutils==0.16
drf-yasg==1.20.0
entrypoints==0.3
et-xmlfile==1.0.1
flatbuffers==1.12
gast==0.4.0
gensim==4.0.1
google-api-core==1.31.0
google-api-python-client==2.12.0
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-speech==2.5.0
google-cloud-vision==2.3.2
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.34.1
h5py==3.1.0
httpie==2.4.0
httplib2==0.19.1
idna==2.10
inflection==0.5.1
ipykernel==5.5.5
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itypes==1.2.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
JPype1 @ file:///C:/adr/server/JPype1-1.1.2-cp38-cp38-win_amd64.whl
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-core==4.7.1
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kombu==5.0.2
konlpy==0.5.2
kss==2.5.1
libcst==0.3.19
lxml==4.6.3
Markdown==3.3.4
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.4.2
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.19.5
oauthlib==3.1.0
odfpy==1.4.1
openapi-codec==1.3.2
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
openpyxl==3.0.6
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.2
pandocfilters==1.4.3
parso==0.8.1
pdf2image==1.16.0
pdfminer.six==20201018
pickleshare==0.7.5
Pillow==8.1.0
prometheus-client==0.11.0
prompt-toolkit==3.0.16
proto-plus==1.19.0
protobuf==3.15.7
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.9.1
py-hanspell @ git+https://github.com/ssut/py-hanspell.git@8e993cf46f97f9d665c15633a0fc78ac1b727713
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.8.0
PyJWT==1.7.1
pykospacing @ git+https://github.com/haven-jeon/PyKoSpacing.git@7bd81fe9c55a54e1b8e6f6bd5931b87bec98784f
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytesseract==0.3.8
python-crontab==2.5.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2021.1
pywin32==301
pywinpty==1.1.2
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.7.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scikit-learn==0.24.1
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.96
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smart-open==5.0.0
sortedcontainers==2.4.0
soyspacing==1.0.17
sqlparse==0.4.1
tablib==3.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.8.1
tornado==6.1
traitlets==5.0.5
tweepy==3.10.0
typing-extensions==3.7.4.3
typing-inspect==0.7.1
uritemplate==3.0.1
urllib3==1.26.3
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
